@{
    ViewBag.Title = "Ket thuc san pham bat thuong";
}
<div class="Commonheader">
    <div class="HeaderTitle">
        <span class="titleText" style="text-align:center;">Ket thuc san pham bat thuong</span>
    </div>
</div>
<form>
    <div class="frame">
        <div class="divBody">
            <table style="width: 100%;">
                <tbody>
                    <tr style="height: 50px;">
                        <td style="width: 45%; text-align: right; padding-right: 5px;">Tai khoan:</td>
                        <td style="width: 25%;">
                            <input disabled="" type="password" id="txtUsername" size="8" style="background-color:Gainsboro;ime-mode: disabled" value="@ViewBag.username">
                        </td>
                        <td style="width: 30%;">
                            &nbsp;
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <td style="text-align: right; padding-right: 5px;">Vi tri:</td>
                        <td colspan="2">
                            <input disabled="" type="text" id="txtPlaceNo" size="19" style="background-color:Gainsboro;ime-mode: disabled" value="@ViewBag.placeNo">
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <td style="text-align: right; padding-right: 5px;">Ma vach:</td>
                        <td colspan="2">
                            <input disabled="" type="text" id="txtBarcode" size="19" style="background-color:Gainsboro;ime-mode: disabled" value="@ViewBag.barcode">
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <td style="text-align: right; padding-right: 5px;">Ly do:</td>
                        <td colspan="2">
                            <input type="text" id="txtReason" size="19" style="ime-mode: disabled">
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <td style="text-align: right; padding-right: 5px;">Ket qua:</td>
                        <td>
                            <span style="width: 70px;" id="lblResult" class="cResult"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="Message" style="height: 300px;">
                <textarea readonly id="txtMessage" style="position:absolute;z-index:2;height: 290px;overflow-x: hidden;"></textarea>
            </div>
            &nbsp;<input type="button" id="btnCancel" class="Button" value="Huy bo" onclick="Cancel()" style="width:150px; background-color:red;color:white;">
            <input type="button" id="btnConfirm" class="Button" value="Xac nhan" onclick="ConfirmBefore()" style="float:right; width:150px; background-color:blue;color:white;visibility: visible;">
        </div>
    </div>
</form>
<script type="text/javascript">
    var Cancel = function () {
        var username = document.getElementById('txtUsername').value;
        window.location = '@Url.Action("Index", "ScanBarcode")?username=' + username;
    };

    function SetStyleResultNG() {
        document.getElementById('lblResult').style.backgroundColor = 'Red';
    }

    function SetStyleResultOK() {
        document.getElementById('lblResult').style.backgroundColor = 'White';
    }

    //Xử lý trước khi Ket thuc san pham bat thuong
    function ConfirmBefore() {
        //Kiểm tra giá trị đã nhập chưa
        var reason = document.getElementById('txtReason').value;
        if (reason == '') {
            document.getElementById('txtMessage').value = 'Hay nhap ly do...';
            document.getElementById('txtReason').focus();
            return false;
        }

        //Thông báo đang xử lý
        document.getElementById('txtMessage').value = "Dang xu ly...";
        setTimeout(Confirm, 10);
    }

    //Ket thuc san pham bat thuong
    function Confirm() {
        document.getElementById('txtReason').disabled = true;
        var username = document.getElementById('txtUsername').value;
        var placeNo = document.getElementById('txtPlaceNo').value;
        var barcode = document.getElementById('txtBarcode').value;
        var reason = document.getElementById('txtReason').value;

        $.ajax({
            type: "GET",
            cache: false,
            async: false,
            url: '@Url.Action("Scan_Barcode", "ScanBarcode")?username=' + username + '&placeNo=' + placeNo + '&barcode=' + barcode + '&reason=Ket thuc bat thuong: ' + reason,
            dataType: "text",
            success: SubmitAfter,
            error: AjaxErrorSubmitAfter
        });
    }

    //Xử lý sau khi Ket thuc san pham bat thuong
    var SubmitAfter = function (data) {
        var parameter = data.split("#");

        var result = parameter[0];
        var message = parameter[1];

        document.getElementById('lblResult').innerText = result;
        document.getElementById('txtMessage').value = message;

        if (result == 'NG') {
            SetStyleResultNG();
        } else {
            Cancel();
        }

        return false;
    }

    //Lỗi khi Ket thuc san pham bat thuong
    var AjaxErrorSubmitAfter = function (xhr) {
        if (xhr.status == 999) {
            document.getElementById('txtMessage').value = 'Khong the ket noi duoc voi may chu';
        } else if (xhr.status == 500) {
            document.getElementById('txtMessage').value = 'Ket thuc san pham bat thuong that bai (ErrorCode: 500)';
        };
        document.getElementById('txtMessage').value = 'Ket thuc san pham bat thuong that bai';
    }

    $(function () {
        document.getElementById('txtMessage').value = 'Hay nhap ly do';
        document.getElementById('txtReason').value = '';
        document.getElementById('txtReason').focus();
        document.getElementById('txtReason').select();
    });

</script>

